### Agenda

1 - Novas perguntas do CEO

2 - Planejamento da solução

3 - Estrutura de dados

4 - Transformação de dados

### Novas perguntas do CEO

1 - Qual o número de imóveis por ano de construção?

2 - Qual o menor número de quartos por ano de construção de imóveis?

3 - Qual o preço de compra mais alto por cada número de quarto?

4 - Qual a soma de todos os preços de compra por número de quartos?

5 - Qual a soma de todos os preços de compra por número de quartos e banheiros?

6 - Qual o tamanho médio das salas dos imóveis por ano de construção?

7 - Qual o tamanho mediano das salas dos imóveis por ano de construção?

8 - Qual o desvio-padrão do tamanho das salas dos imóveis por ano de construção?

9 - Qual o desvio-padrão do tamanho das salas dos imóveis por ano de construção?

10 - Conseguir identificar (no mapa) as casas e o maior valor?

In [1]:
# Carregando os dados do estudo de caso em um jupyter notebook

## importar pandas

import pandas as pd

# importando o dataset usando o método pd.read_excel

df = pd.read_csv('kc_house_data.csv')

In [2]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [6]:
# Número de imóveis por número de quartos

df[df['bedrooms'] == 0].shape # essa é uma forma manual, mas impraticável em séries com muitos valores

(13, 21)

In [9]:
df[['id', 'bedrooms']].groupby('bedrooms') # agrupando por valores de bedroons. Agrupa colunas por valores de bedrooms

In [10]:
df[['id', 'bedrooms']].groupby('bedrooms').size()

bedrooms
0       13
1      199
2     2760
3     9824
4     6882
5     1601
6      272
7       38
8       13
9        6
10       3
11       1
33       1
dtype: int64

Acima a melhor construção para responder perguntas do tipo "*quantos têm desse tipo?*"

Para mais informações de **groupby**, acesso documentação pandas [aqui](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html)

In [12]:
df_grouped = df[['id', 'bedrooms']].groupby('bedrooms')

for bedrooms, frame in df_grouped:
    print(f'Numero de quartos: {bedrooms}')
    print(frame.shape, end = '\n\n')        # para ver o frame, basta substituir shape por head()

Numero de quartos: 0
(13, 2)

Numero de quartos: 1
(199, 2)

Numero de quartos: 2
(2760, 2)

Numero de quartos: 3
(9824, 2)

Numero de quartos: 4
(6882, 2)

Numero de quartos: 5
(1601, 2)

Numero de quartos: 6
(272, 2)

Numero de quartos: 7
(38, 2)

Numero de quartos: 8
(13, 2)

Numero de quartos: 9
(6, 2)

Numero de quartos: 10
(3, 2)

Numero de quartos: 11
(1, 2)

Numero de quartos: 33
(1, 2)